.App {
  text-align: center;
  height: 500px;
  margin: 0 auto
}

.settingsDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 500px;
  margin: 20px auto;
  height: 30px;
}

.selectPlayerNumber {
  font-size: 18px;
}

.setClock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  height:30px;

}

.noMinsInput {
  font-size: 18px;
  width:100px;
  text-align: center;
  border: 2px solid darkblue;
  border-radius: 5px;
}

.clocksDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.clockDiv {
  width: 400px;
  height: 200px;
  margin: 20px;
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
}

.clock {
  width: 200px;
  background-color: gray;
  border-radius: 15px;
  height: 60px;
  cursor: pointer;
}

.clock:hover {
  color: white;
  border-color: white;
}

.clock.playerSelected {
  background-color: green;
}

.clock.zero {
  background-color: red;
}

.clock.low {
  background-color: orange;
}

.playerNameInput {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 10px auto;
}

.playerClock {
  font-size: 40px;
  font-weight: bold;
}

.selectPlayers {
  width: 70px;
  height: 30px;
  background-color: lightgray;
  border-radius: 5px;
  margin: 0px 1px;
  font-size: 18px;
}

.settingsLabel {
  font-size: 18px;
  margin: 5px;
}

.selectPlayers.selected {
  background-color: green;
}

.timerDiv {
  width: 100px;
  height: 38px;
  margin: 10px auto;
  background-color: gray;
}

.timerDiv.playerSelected {
  background-color: green;
}

.timerDiv.zero {
  background-color: red;
}

.timerDiv.critical {
  background-color: orange;
}

.timerDiv.low {
  background-color: lightgreen;
}

.playerTimer {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.extDiv {
  width: 265px;
  height: 30px;
  margin: auto;
  background-color: gray;
  border-radius: 7px;
  cursor: pointer;
}

.extDiv:hover {
  color: white;
  border-color: white;
}

.extDiv.playerSelected {
  background-color: green;
}

.extDiv.zero {
  background-color: red;
}

.extDiv.low {
  background-color: orange;
}

.playerExt {
  color: white;
  font-size: 20px;
  font-weight: bold;
}