.App {
  text-align: center;
  height: 500px;
  margin: 0 auto
}

.setTimer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;

}

.noMinsLabel {
  margin: 10px auto;
  font-size: 18px;
}

.noMinsInput {
  font-size: 18px;
  width:100px;
  text-align: center;
  border: 2px solid darkblue;
  border-radius: 5px;
  margin-left: 10px;
}

.clocksDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.playerDiv {
  width: 40%;
  height: 40%;
  margin: 20px;
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
}

.clock {
  width: 80%;
  background-color: gray;
  border-radius: 10px;
  height: 60%;
}

.clock.playerSelected {
  background-color: green;
}

.clock.zero {
  background-color: red;
}

.playerName {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 10px auto;
}

.timer {
  font-size: 40px;
  font-weight: bold;
}
