.App {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}

.settingsDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 230px;
  margin: 20px auto;
  background-color: rgb(255, 161, 2, 0.8);
}

.selectPlayerNumber {
  font-size: 18px;
  margin: 5px auto;
}

.setClock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px auto;
  height:30px;
}

.noMinsInput {
  font-size: 18px;
  width:100px;
  text-align: center;
  border: 2px solid darkblue;
  border-radius: 5px;
}

.clocksDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

.clocksDiv.twoPlayer {
  width: 40%;
}

.clockDiv {
  width: 40%;
  max-width: 210;
  height: 175px;
  margin: 0px 10px 10px 10px;
  background-color: rgb(211, 211, 211, 0.8);
  border-radius: 10px;
  padding: 10px;
}

.clockDiv.rotate {
  transform: rotate(180deg);
}

.displayClock {
  display: block;
}

.hideClock {
  display: none;
}

.clock {
  width: 200px;
  background-color: gray;
  border-radius: 15px;
  height: 60px;
  cursor: pointer;
  margin: 5px auto;
}

.clock:hover {
  color: white;
  border-color: white;
}

.clock.playerSelected {
  background-color: green;
}

.clock.zero {
  background-color: red;
}

.clock.low {
  background-color: orange;
}

.playerInput {
  margin: 5px auto;
}

.playerNameInput {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  max-width: 90%;
}

.playerNameTitle {
  font-size: 16px;
  font-weight: bold;
  margin: auto;
}

.playerClock {
  font-size: 40px;
  font-weight: bold;
}

.selectPlayers {
  width: 70px;
  height: 30px;
  background-color: lightgray;
  border-radius: 5px;
  margin: 0px 1px;
  font-size: 18px;
}

.selectPlayers.selected {
  background-color: lightgreen;
}

.settingsLabel {
  font-size: 18px;
  margin: 5px 5px 0px 5px;
  font-weight: bold;
}

.timerDiv {
  width: 100px;
  height: 38px;
  margin: 10px auto;
  background-color: gray;
}

.timerDiv.playerSelected {
  background-color: green;
}

.timerDiv.zero {
  background-color: red;
}

.timerDiv.critical {
  background-color: orange;
}

.timerDiv.low {
  background-color: lightgreen;
}

.playerTimer {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.extDiv {
  height: 30px;
  margin: auto;
  background-color: gray;
  border-radius: 7px;
  cursor: pointer;
}

.extDiv:hover {
  color: white;
  border-color: white;
}

.extDiv.playerSelected {
  background-color: green;
}

.extDiv.zero {
  background-color: red;
}

.extDiv.low {
  background-color: orange;
}

.playerExt {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.settingsButtons {
  width: 150px;
  margin: 5px auto;
}

.settingsBtn {
  font-size: 18px;
  background-color: lightgray;
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  width: 120px;
}

.settingsBtn.selected {
  background-color: lightgreen;
}

.settingsIcon {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 30px;
}


@media screen and (max-width: 700px) {
  .App {
    text-align: center;
    margin: 0 auto
  }
  
  .selectPlayerNumber {
    font-size: 18px;
    margin: 5px auto;
  }
  
  .noMinsInput {
    font-size: 18px;
    width:100px;
    text-align: center;
    border: 2px solid darkblue;
    border-radius: 5px;
  }
  
  .clocksDiv {
    width: 100%;
  }
  
  .clocksDiv.twoPlayer {
    width: 40%;
  }
  
  .clockDiv {
    width: 40%;
    height: 155px;
    padding: 0px;
  }
  
  .clockDiv.rotate {
    transform: rotate(180deg);
  }
  
  .displayClock {
    display: block;
  }
  
  .hideClock {
    display: none;
  }
  
  .clock {
    width: 120px;
    height: 50px;
  }
  
  .clock:hover {
    color: white;
    border-color: white;
  }
  
  .clock.playerSelected {
    background-color: green;
  }
  
  .clock.zero {
    background-color: red;
  }
  
  .clock.low {
    background-color: orange;
  }
  
  .playerNameInput {
    font-size: 16px;
    margin: 3px auto 5px auto;
  }
  
  .playerClock {
    font-size: 30px;
  }
  
  .selectPlayers {
    width: 70px;
    height: 30px;
    background-color: lightgray;
    border-radius: 5px;
    margin: 0px 1px;
    font-size: 18px;
  }
  
  .selectPlayers.selected {
    background-color: lightgreen;
  }
  
  .settingsLabel {
    font-size: 16px;
  }
  
  .timerDiv {
    width: 70px;
    height: 25px;
    margin: 5px auto;
  }
  
  .timerDiv.playerSelected {
    background-color: green;
  }
  
  .timerDiv.zero {
    background-color: red;
  }
  
  .timerDiv.critical {
    background-color: orange;
  }
  
  .timerDiv.low {
    background-color: lightgreen;
  }
  
  .playerTimer {
    font-size: 20px;
  }
  
  .extDiv {
    margin: 5px auto;
  }
  
  .extDiv:hover {
    color: white;
    border-color: white;
  }
  
  .extDiv.playerSelected {
    background-color: green;
  }
  
  .extDiv.zero {
    background-color: red;
  }
  
  .extDiv.low {
    background-color: orange;
  }
  
  .playerExt {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  
}